<div class="row">
    <div class="col-12 mt-4 mb-4">
        <h4>Your Shopping Basket</h4>
        <p>Sub Total ({{itemCount}} items):
            <span class="h5 text--red text--bold">{{(cart | async).grossTotal | currency:'USD':true}}</span>
        </p>
        <div class="row mb-2 pl-3 pr-3">
            <button class="btn btn-primary btn-md btn-block"
                    [attr.disabled]="itemCount === 0 ? true : null"
                    routerLink="/checkout">Proceed To Checkout
            </button>
        </div>
        <div class="row mb-2 pl-3 pr-3">
            <button type="button"
                    class="btn btn-secondary btn-md btn-block"
                    (click)="emptyCart()"
                    [attr.disabled]="itemCount === 0 ? true : null">
                Empty Shopping Cart
            </button>
        </div>
    </div>
</div>
