<div class="row">
  <div class="col-12 col-sm-9">

    <div class="row mt-4">

      <div class="col-lg-6 col-md-6 mb-4" *ngFor="let product of products | async">
        <div class="card">
          <a href="#"><img class="card-img-top" src="./assets/{{product.id}}.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <span>{{product.name}}</span>
              <span class="text--red" style="float: right">{{product.price | currency:'USD':true}}</span>
            </h4>
            <p class="card-text small text-justify">{{product.description}}</p>
            <p><b>Ingredients:</b></p>

            <ul *ngFor="let ingredient of product.ingredients" style="line-height: 0.6">
              <li>{{ingredient.name}}</li>
            </ul>
              <button type="button"
                      class="btn btn-primary btn-md mt-2"
                      (click)="addProductToCart(product, 1)">Add To Cart
              </button>
              <button type="button"
                      class="btn btn-secondary btn-md mt-2"
                      *ngIf="productInCart(product) | async"
                      (click)="removeProductFromCart(product, 1)">Remove From Cart
              </button>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
          </div>
        </div>
      </div>


    </div>

  </div>

  <div class="col-12 col-sm-3">
    <app-shopping-cart></app-shopping-cart>
  </div>
</div>
